@model ProjectWebProg.Models.Summoner

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Summoner</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PuuId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PuuId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProfileIconId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProfileIconId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RevisionDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RevisionDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SummonerLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SummonerLevel)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
